page-login {

}
.bg{
	background: linear-gradient(to right, #222, #222 100%);
  font-size:20px;
  font-weight: bold;
  color:#fff;
  font-family: Georgia, 'Times New Roman', serif;
}
.fondo{
	    background-image: url('../assets/logo2.gif');
	    background-size:100% 100%;
	    
	background-color:black;
    background-repeat: no-repeat;
    
    



}
.center{
	text-align:center;

}
        /*estilos de animacion*/

        


        /*fin*/